{% for var  in jeux %}
    <div class="col-lg-3 col-md-5" >
        <a href="{{ path('detail',{'id' : var.id}) }}" class="nk-post-img">
            <img style="display: flex" src="{{ asset('/uploads/images/'~ var.image) }}" alt="At length one of them called out in a clear">
            <div class="nk-gap"></div>
                <span class="nk-post-categories">
                    <span class="bg-main-1">{{ var.jeux.categorie.nom }} </span>
                </span>
        </a>
    </div>
    <div class="col-lg-9 col-md-7">
        <h2 class="nk-post-title h4"><a href="{{ path('detail',{'id' : var.id}) }}">{{ var.nom }}  </a></h2>
{#        <span class="nk-post-tags">{{ var.jeux.nom }} </span></br>#}
{#        <span class="nk-post-tags">{{ var.nbparticipants }} Participants</span>#}
        <div class="nk-post-date mt-10 mb-10">
            <span class="fa fa-calendar"></span> {{ var.dateDeb|date("m/d/y") }}
            <span class="fa fa-calendar"></span> {{ var.dateFin|date("m/d/y") }}
            {% set datePost = var.dateDeb|date('d-m-Y') %}
            {% set today = "now"|date('d-m-Y') %}
            {% set difference = date(today).diff(date(datePost))%}
            {% set leftDays = difference.days %}

            {% if datePost == today %}
                <div class="badge badge-success float-right" style="font-size: small">1 day</div>
            {% elseif date(datePost)<(date(today)) %}
                <div class="badge badge-danger float-right " style="font-size: small">expiré</div>
            {% else %}
                <div class="badge badge-success float-right"style="font-size: small">{{ leftDays }} jours restantes</div>
            {% endif %}
        </div>


        <div class="nk-post-text">
            <p>Allez-y!       Inscrivez vous et tentez votre chance pour rejoindre le podium </p>
        </div>
        {% if datePost == today %}
            <a class="btn btn-light btn-sm">S'inscrire</a>
        {% elseif date(datePost)<(date(today)) %}
        {% else %}
            <a class="btn btn-outline-secondary btn-sm ">S'inscrire</a>
        {% endif %}



    </div>
{% endfor %}





