{% extends 'front.html.twig' %}


{% block body %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">

    <div class="nk-gap-3"></div>
                    <h3 class="nk-decorated-h-2">
                            <span>Les</span>
                            <span class="text-main-1">Compétitions</span>
                    </h3>
                    <div class="nk-gap"></div>
                    <div class="nk-tabs">
                        <!--
                            Additional Classes:
                                .nav-tabs-fill
                        -->
                        <ul class="nav nav-tabs nav-tabs-fill" role="tablist">
                            {% for var in categories %}
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('choix_categorie',{'id' : var.id}) }}">{{ var.nom }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="tabs-1-1">
                                <div class="nk-gap"></div>
                                <!-- START: Action Tab -->
                                <div class="nk-widget">
                                    <div class="nk-widget-content">
                                        <form action="#" class="nk-form nk-form-style-1" novalidate="novalidate">
                                            <div class="input-group">
                                                <input type="text" class="form-control" placeholder="Type something..." id="search">
                                                <button class="nk-btn nk-btn-color-main-1"><span class="ion-search"></span></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="separator"></div>

                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <div class="row vertical-gap" id="all">
                                            {% include 'competition/ajax.html.twig' %}
                                    </div>
                                    <div class="row vertical-gap" id="search">
                                    </div>
                                </div>
                            </div>
                        </div>



                            <div role="tabpanel" class="tab-pane fade" id="tabs-1-2">
                                <div class="nk-gap"></div>
                                <!-- START: MMO Tab -->


                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <a href="blog-article.html" class="nk-post-img">
                                        <img src="Front/assets/images/post-1-fw.jpg" alt="Smell magic in the air. Or maybe barbecue">
                                        <span class="nk-post-categories">
                                            <span class="bg-main-4">MMO</span>
                                        </span>
                                    </a>
                                    <div class="nk-gap-1"></div>
                                    <h2 class="nk-post-title h4"><a href="blog-article.html">Smell magic in the air. Or maybe barbecue</a></h2>
                                    <div class="nk-post-date mt-10 mb-10">
                                        <span class="fa fa-calendar"></span> Sep 18, 2018
                                        <span class="fa fa-comments"></span> <a href="#">4 comments</a>
                                    </div>
                                    <div class="nk-post-text">
                                        <p>With what mingled joy and sorrow do I take up the pen to write to my dearest friend! Oh, what a change between to-day and yesterday! Now I am friendless and alone...</p>
                                    </div>
                                </div>



                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <div class="row vertical-gap">
                                        <div class="col-lg-3 col-md-5">
                                            <a href="blog-article.html" class="nk-post-img">
                                                <img src="Front/assets/images/post-5-mid-square.jpg" alt="He made his passenger captain of one">

                                                <span class="nk-post-categories">
                                                    <span class="bg-main-4">MMO</span>
                                                </span>

                                            </a>
                                        </div>
                                        <div class="col-lg-9 col-md-7">
                                            <h2 class="nk-post-title h4"><a href="blog-article.html">He made his passenger captain of one</a></h2>
                                            <div class="nk-post-date mt-10 mb-10">
                                                <span class="fa fa-calendar"></span> Jul 23, 2018
                                                <span class="fa fa-comments"></span> <a href="#">13 comments</a>
                                            </div>
                                            <div class="nk-post-text">
                                                <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END: MMO Tab -->
                                <div class="nk-gap"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tabs-1-3">
                                <div class="nk-gap"></div>
                                <!-- START: Strategy Tab -->
                                <div>
                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <a href="blog-article.html" class="nk-post-img">
                                        <img src="Front/assets/images/post-3-fw.jpg" alt="We found a witch! May we burn her?">

                                        <span class="nk-post-categories">
                                            <span class="bg-main-3">Strategy</span>
                                        </span>

                                    </a>
                                    <div class="nk-gap-1"></div>
                                    <h2 class="nk-post-title h4"><a href="blog-article.html">We found a witch! May we burn her?</a></h2>
                                    <div class="nk-post-date mt-10 mb-10">
                                        <span class="fa fa-calendar"></span> Aug 27, 2018
                                        <span class="fa fa-comments"></span> <a href="#">7 comments</a>
                                    </div>
                                    <div class="nk-post-text">
                                        <p>And she went on planning to herself how she would manage it. `They must go by the carrier,' she thought; `and how funny it'll seem, sending presents to one's own feet!...</p>
                                    </div>
                                </div>



                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <div class="row vertical-gap">
                                        <div class="col-lg-3 col-md-5">
                                            <a href="blog-article.html" class="nk-post-img">
                                                <img src="Front/assets/images/post-4-mid-square.jpg" alt="For good, too though, in consequence">

                                                <span class="nk-post-categories">
                        <span class="bg-main-3">Strategy</span>
                    </span>

                                            </a>
                                        </div>
                                        <div class="col-lg-9 col-md-7">
                                            <h2 class="nk-post-title h4"><a href="blog-article.html">For good, too though, in consequence</a></h2>
                                            <div class="nk-post-date mt-10 mb-10">
                                                <span class="fa fa-calendar"></span> Aug 14, 2018
                                                <span class="fa fa-comments"></span> <a href="#">23 comments</a>
                                            </div>
                                            <div class="nk-post-text">
                                                <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!-- END: Strategy Tab -->
                                <div class="nk-gap"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tabs-1-4">
                                <div class="nk-gap"></div>
                                <!-- START: Adventure Tab -->


                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <a href="blog-article.html" class="nk-post-img">
                                        <img src="Front/assets/images/post-6-fw.jpg" alt="At first, for some time, I was not able to answer">

                                        <span class="nk-post-categories">
                <span class="bg-main-2">Adventure</span>
            </span>

                                    </a>
                                    <div class="nk-gap-1"></div>
                                    <h2 class="nk-post-title h4"><a href="blog-article.html">At first, for some time, I was not able to answer</a></h2>
                                    <div class="nk-post-date mt-10 mb-10">
                                        <span class="fa fa-calendar"></span> Jul 3, 2018
                                        <span class="fa fa-comments"></span> <a href="#">0 comments</a>
                                    </div>
                                    <div class="nk-post-text">
                                        <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
                                    </div>
                                </div>



                                <!-- END: Adventure Tab -->
                                <div class="nk-gap"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tabs-1-5">
                                <div class="nk-gap"></div>
                                <!-- START: Racing Tab -->


                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <a href="blog-article.html" class="nk-post-img">
                                        <img src="Front/assets/images/post-7-fw.jpg" alt="At length one of them called out in a clear">

                                        <span class="nk-post-categories">
                <span class="bg-main-5">Racing</span>
            </span>

                                    </a>
                                    <div class="nk-gap-1"></div>
                                    <h2 class="nk-post-title h4"><a href="blog-article.html">At length one of them called out in a clear</a></h2>
                                    <div class="nk-post-date mt-10 mb-10">
                                        <span class="fa fa-calendar"></span> Jul 3, 2018
                                        <span class="fa fa-comments"></span> <a href="#">0 comments</a>
                                    </div>
                                    <div class="nk-post-text">
                                        <p>TJust then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
                                    </div>
                                </div>



                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <div class="row vertical-gap">
                                        <div class="col-lg-3 col-md-5">
                                            <a href="blog-article.html" class="nk-post-img">
                                                <img src="Front/assets/images/post-3-mid-square.jpg" alt="We found a witch! May we burn her?">

                                                <span class="nk-post-categories">
                        <span class="bg-main-5">Racing</span>
                    </span>

                                            </a>
                                        </div>
                                        <div class="col-lg-9 col-md-7">
                                            <h2 class="nk-post-title h4"><a href="blog-article.html">We found a witch! May we burn her?</a></h2>
                                            <div class="nk-post-date mt-10 mb-10">
                                                <span class="fa fa-calendar"></span> Aug 27, 2018
                                                <span class="fa fa-comments"></span> <a href="#">7 comments</a>
                                            </div>
                                            <div class="nk-post-text">
                                                <p>And she went on planning to herself how she would manage it. `They must go by the carrier,' she thought; `and how funny it'll seem, sending presents to one's own feet!...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <div class="row vertical-gap">
                                        <div class="col-lg-3 col-md-5">
                                            <a href="blog-article.html" class="nk-post-img">
                                                <img src="Front/assets/images/post-4-mid-square.jpg" alt="For good, too though, in consequence">

                                                <span class="nk-post-categories">
                        <span class="bg-main-5">Racing</span>
                    </span>

                                            </a>
                                        </div>
                                        <div class="col-lg-9 col-md-7">
                                            <h2 class="nk-post-title h4"><a href="blog-article.html">For good, too though, in consequence</a></h2>
                                            <div class="nk-post-date mt-10 mb-10">
                                                <span class="fa fa-calendar"></span> Aug 14, 2018
                                                <span class="fa fa-comments"></span> <a href="#">23 comments</a>
                                            </div>
                                            <div class="nk-post-text">
                                                <p>This little wandering journey, without settled place of abode, had been so unpleasant to me, that my own house, as I called it to myself, was a perfect settlement to me compared to that...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>



                                <!-- END: Racing Tab -->
                                <div class="nk-gap"></div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tabs-1-6">
                                <div class="nk-gap"></div>
                                <!-- START: Indie Tab -->


                                <div class="nk-blog-post nk-blog-post-border-bottom">
                                    <a href="blog-article.html" class="nk-post-img">
                                        <img src="Front/assets/images/post-5-fw.jpg" alt="He made his passenger captain of one">
                                        <span class="nk-post-categories">
                                            <span class="bg-main-2">Indie</span>
                                        </span>
                                    </a>
                                    <div class="nk-gap-1"></div>
                                    <h2 class="nk-post-title h4"><a href="blog-article.html">He made his passenger captain of one</a></h2>
                                    <div class="nk-post-date mt-10 mb-10">
                                        <span class="fa fa-calendar"></span> Jul 23, 2018
                                        <span class="fa fa-comments"></span> <a href="#">13 comments</a>
                                    </div>
                                    <div class="nk-post-text">
                                        <p>Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door...</p>
                                    </div>
                                </div>
                                <!-- END: Indie Tab -->
                                <div class="nk-gap"></div>
                            </div>
                        </div>
                    </div>
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script
            src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')}}">
    </script>
    <script>
        $( document ).ready(function() {
            var currentRequest = null;
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                if(currentRequest != null) {
                    currentRequest.abort();
                }
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                currentRequest = $.ajax({
                    url : "{{ path('ajaxcompetition') }}",
                    type : 'GET',
                    data: {
                        'searchValue' : value
                    },
                    success : function(retour)
                    {
                        $('#all').html(retour);
                    },
                });
                return false;
            });
        });
    </script>
{% endblock %}
{% block calendrier %}
    <style>
        #calendrier{
            width: auto;
            display: inline-block;
            margin: auto;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.js" integrity="sha256-YicH/8aE660iEnJtgll3vT54dJApy3XkYmqNfGVFEzA=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css" integrity="sha256-5veQuRbWaECuYxwap/IOE/DAwNxgm4ikX7nrgsqYp88=" crossorigin="anonymous">
    <div class="nk-widget nk-widget-highlighted">
        <h4 class="nk-widget-title"><span><span class="text-main-1">We</span> Are Social</span></h4>
        <div class="nk-widget-content">
            <div id="calendrier"></div>
        </div>
    </div>
    <script>
        window.onload = () =>{
            let calendarElt = document.querySelector("#calendrier")


            let calendar = new FullCalendar.Calendar(calendarElt,{
                initialView: 'dayGridMonth',
                locale: 'fr',
                timeZone: 'Europe/Paris',
                headerToolbar: {
                    start: 'prev,next today',
                    center: 'title',
                    end: 'dayGridMonth,timeGridWeek'
                },
                events: {{ data | raw }}

            })
            calendar.render();
        }
    </script>
{% endblock %}