{% extends 'base-back.html.twig' %}
{% block stylesheets %}

    <link href="{{ asset('back/vendors/feather/feather.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/css/vendor.bundle.base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/js/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/css/vertical-layout-light/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/images/favicon.png') }}" type="text/css" rel="shortcut icon" />

{% endblock %}

{% block body %}
    <div class="card-body">
        <h4 class="card-title"><i class="fa-solid fa-pen"></i>   Ajouter un livreur</h4>
        <p class="card-description">
        </p>

        {{ form_start(f,{'attr': {'novalidate': 'novalidate'}} ) }}
        <form class="forms-sample">

            <div class="form-group">
                {{ form_label(f.Nom, 'Nom du livreur', ) }}
                {{ form_widget(f.Nom, {'attr': {'class': 'form-control','placeholder': 'Nom du livreur'}}) }}
                {{ form_errors(f.Nom) }}

            </div>
            <div class="form-group">
                {{ form_label(f.Prenom, 'Prenom du livreur', ) }}
                {{ form_widget(f.Prenom, {'attr': {'class': 'form-control','placeholder': 'Prenom du livreur'}}) }}
                {{ form_errors(f.Prenom) }}

            </div>
            <div class="form-group">
                {{ form_label(f.Tel, 'Tel', ) }}
                {{ form_widget(f.Tel, {'attr': {'class': 'form-control','placeholder': 'Tel'}}) }}
                {{ form_errors(f.Tel) }}

            </div>
            <div class="form-group">
                {{ form_label(f.Email, 'Email', ) }}
                {{ form_widget(f.Email, {'attr': {'class': 'form-control','placeholder': 'Email'}}) }}
                {{ form_errors(f.Email) }}
            </div>
            <div class="input-group col-md-6">
                {{ form_widget(f.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
            </div>


            {{ form_end(f) }}
        </form>

    </div>
{% endblock body %}

