{% extends 'form.html.twig' %}
      {% block stylesheets %}
          <link href="{{ asset('front/assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/vendor/fontawesome-free/js/all.js') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/vendor/fontawesome-free/js/v4-shims.js') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/vendor/ionicons/css/ionicons.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/vendor/flickity/dist/flickity.min.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/vendor/photoswipe/dist/photoswipe.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/vendor/photoswipe/dist/default-skin/default-skin.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css') }}" type="text/css" rel="stylesheet" />

          <link href="{{ asset('front/assets/vendor/summernote/dist/summernote-bs4.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/css/goodgames.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/css/custom.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/css/custom.css') }}" type="text/css" rel="stylesheet" />
          <link href="{{ asset('front/assets/images/slide-5.jpg') }}" type="text/css" rel="stylesheet" />


          {#  <link rel="stylesheet" href="front/assets/vendor/bootstrap/dist/css/bootstrap.min.css">
        <script defer src="front/assets/vendor/fontawesome-free/js/all.js"></script>
        <script defer src="front/assets/vendor/fontawesome-free/js/v4-shims.js"></script>
        <link rel="stylesheet" href="front/assets/vendor/ionicons/css/ionicons.min.css">
        <link rel="stylesheet" href="front/assets/vendor/flickity/dist/flickity.min.css">
        <link rel="stylesheet" type="text/css" href="front/assets/vendor/photoswipe/dist/photoswipe.css">
        <link rel="stylesheet" type="text/css" href="front/assets/vendor/photoswipe/dist/default-skin/default-skin.css">
        <link rel="stylesheet" href="front/assets/vendor/bootstrap-slider/dist/css/bootstrap-slider.min.css">
        <link rel="stylesheet" type="text/css" href="front/assets/vendor/summernote/dist/summernote-bs4.css">
        <link rel="stylesheet" href="front/assets/css/goodgames.css">
        <link rel="stylesheet" href="front/assets/css/custom.css">
        <script src="front/assets/vendor/jquery/dist/jquery.min.js"></script>
          #}
      {% endblock %}
{% block body %}
    <div class="card-body">
        <h4 class="card-title">Modifier une réclamation</h4>
        <p class="card-description">
        </p>

        {{ form_start(f) }}
        <form class="forms-sample">

      {#      <div class="form-group">
                {{ form_label(f.NomUser, 'NomUser', ) }}
                {{ form_widget(f.NomUser, {'attr': {'class': 'form-control','placeholder': 'NomUser'}}) }}
                {{ form_errors(f.NomUser) }}

            </div>
            <div class="form-group">
                {{ form_label(f.email, 'email', ) }}
                {{ form_widget(f.email, {'attr': {'class': 'form-control','placeholder': 'email'}}) }}
                {{ form_errors(f.email) }}
      #}
    </div>
            <div class="form-group">
                {{ form_label(f.Message, 'Message', ) }}
                {{ form_widget(f.Message, {'attr': {'class': 'form-control','placeholder': 'Message'}}) }}
                {{ form_errors(f.Message) }}
            </div>
            <div class="form-group">
                {{ form_label(f.categorie, 'categorie', ) }}
                {{ form_widget(f.categorie, {'attr': {'class': 'form-control','placeholder': 'categorie'}}) }}
                {{ form_errors(f.categorie) }}
            </div>





            <div class="input-group col-md-6">
                {{ form_widget(f.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
                {{ form_widget(f.cancel, {'attr': {'class': 'form-control btn btn-light mr-2' }}) }}
            </div>
            {{ form_end(f) }}
        </form>

    </div>
{% endblock  %}
