{% extends 'base.html.twig' %}


{% block stylesheets %}
    <link href="{{ asset('back/vendors/feather/feather.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/css/vendor.bundle.base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/js/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/css/vertical-layout-light/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/images/favicon.png') }}" type="text/css" rel="shortcut icon" />
{% endblock %}


{% block body %}
    <div class="card-body">
        <h4 class="card-title">Modifier une catégorie</h4>
        <p class="card-description">
        </p>

        {{ form_start(f) }}
        <form class="forms-sample">

            <div class="form-group">
                {{ form_label(f.catrec, 'Categorie', ) }}
                {{ form_widget(f.catrec, {'attr': {'class': 'form-control','placeholder': 'Categorie'}}) }}
                {{ form_errors(f.catrec) }}
            </div>

            <div class="form-group">
                {{ form_label(f.descrip, 'Description', ) }}
                {{ form_widget(f.descrip, {'attr': {'class': 'form-control','placeholder': 'Description'}}) }}
                {{ form_errors(f.descrip) }}
            </div>




            <div class="input-group col-md-6">
                {{ form_widget(f.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
                {{ form_widget(f.cancel, {'attr': {'class': 'form-control btn btn-light mr-2' }}) }}
            </div>
            {{ form_end(f) }}
        </form>

    </div>
{% endblock body %}
