{% extends 'cruud.html.twig' %}


{% block stylesheets %}

    <link href="{{ asset('back/vendors/feather/feather.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/css/vendor.bundle.base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/js/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/css/vertical-layout-light/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/images/favicon.png') }}" type="text/css" rel="shortcut icon" />





{% endblock %}


{% block body %}
    <div class="card-body">
        <h4 class="card-title">Ajouter un jeu</h4>
        <p class="card-description">
        </p>

        {{ form_start(f,{'attr': {'novalidate': 'novalidate'}}) }}
        <form class="forms-sample">

            <div class="form-group">
                {{ form_label(f.nom_categ, 'nom_categ', ) }}
                {{ form_widget(f.nom_categ, {'attr': {'class': 'form-control','placeholder': 'nom_categ'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(f.nom_fournisseur, 'nom_fournisseur', ) }}
                {{ form_widget(f.nom_fournisseur, {'attr': {'class': 'form-control','placeholder': 'nom_fournisseur'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(f.mail_fournisseur, 'mail_fournisseur', ) }}
                {{ form_widget(f.mail_fournisseur, {'attr': {'class': 'form-control','placeholder': 'mail_fournisseur'}}) }}
                {{ form_errors(f.mail_fournisseur) }}

            </div>





            <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Remember me
                </label>
            </div>

            <div class="input-group col-md-6">
                {{ form_widget(f.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
                {{ form_widget(f.cancel, {'attr': {'class': 'btn btn-danger' }}) }}
            </div>
            {{ form_end(f) }}
        </form>

    </div>
{% endblock body %}