{% extends 'base-back.html.twig' %}
{% block stylesheets %}

    <link href="{{ asset('back/vendors/feather/feather.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/css/vendor.bundle.base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/js/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/css/vertical-layout-light/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/images/favicon.png') }}" type="text/css" rel="shortcut icon" />

{% endblock %}
{% block title %}
Detail{% endblock %}

{% block body %}
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detail de la commande N°{{ id }}</h4>
                <h4 class="card-title">Detail de l'addresse de livraison</h4>

                <table class="table-hover table table-striped table-bordered">

                    <thead>
                    <tr>

                        <th>Adresse Id</th>
                        <th>Nom du client</th>
                        <th>Prenom du client</th>
                        <th>Email</th>
                        <th>N°Telephone</th>
                        <th>Addresse</th>
                        <th>City</th>


                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            {{ ad.id }}
                        </td>
                        <td>
                            {{ ad.Nom }}
                        </td>
                        <td>
                            {{ ad.Prenom }}
                        </td>
                        <td>
                            {{ ad.Email}}
                        </td>
                        <td>
                            {{ ad.Tel }}
                        </td>
                        <td>
                            {{ ad.Adress }}
                        </td>
                        <td>
                            {{ ad.City }}
                        </td>
                    </tr>

                    </tbody>


                </table>
            </div>
        </div>
    </div>
<div class="col-lg-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Detail des produits commandés</h4>
    <table class="table-hover table table-striped table-bordered">
        <thead>
        <tr>

            <th>Produit</th>
            <th>Quantite</th>
        </tr>
        </thead>

       <tbody>
            <tr>
                <td>{{ produit }}</td>
                <td>{{ quantite }}</td>



            </tr>
        </tbody>



    </table>
        </div>
    </div>
    </div>
{% endblock %}