{% extends 'crud.html.twig' %}
{% block body %}




    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Gestions des réclamations</h4>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th> ID </th>
                            <th> Nom_User </th>
                            <th> E-mail </th>
                            <th> Message </th>
                            <th> Type_reclamation </th>
                            <th> Date </th>
                            <th> Reponse </th>



                            <th>Add</th>
                            <th>Delete</th>
                            <th>Update</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr {% for c in reclamation %}>

                            <td> {{ c.id }}</td>

                            <td> {{ c.Nomuser }}</td>
                            <td> {{ c.email }}</td>
                            <td> {{ c.Message }}</td>
                            {% if c.categorie is not null %}
                            <td> {{ c.categorie.catrec }}</td>
                            {% endif %}
                            <td> {{ c.Date|date('d-m-Y H:i:s') }}</td>


                            <td>
                                {% for ca in c.reponses %}
                                {% if ca is not null %}

<br>
                                {{ ca.rep }}
                            {% endif %}
                            {% endfor %}

                                   </td>








                            <td><a href="{{ path('Arep',{'id':c.id}) }}" > Add a response</a> </td>
                            <td>  <a  href=" {{ path('de',{'id':c.id}) }} "  > Delete
                                    <img src="back/images/faces/bin.jpg" alt="image"/>



                                </a>


                            </td>

                            <td><a href="{{ path('Up',{'id':c.id}) }}" > Update</a> </td>




                        </tr {% endfor %}>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



{% endblock %}