{% block body %}


    <tr {% for c in reponse %}>

        <td> {{ c.f }}</td>
        <td> {{ c.u }}</td>



        <td> {{ c.id }}</td>

        <td> {{ c.rep }}</td>



        <td> {{ c.date|date('d-m-Y H:i:s') }}</td>




        <td>  <a  href=" {{ path('d',{'id':c.id}) }} "  > Delete
                <img src="back/images/faces/bin.jpg" alt="image"/>



            </a>


        </td>

        <td><a href="{{ path('U',{'id':c.id}) }}" > Update the response</a> </td>


    </tr {% endfor %}>




{% endblock %}
