{% extends 'test.html.twig' %}


{% block stylesheets %}

    <link href="{{ asset('back/vendors/feather/feather.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/css/vendor.bundle.base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/js/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/css/vertical-layout-light/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('back/images/favicon.png') }}" type="text/css" rel="shortcut icon" />





{% endblock %}


{% block body %}
    <div class="card-body">
        <h4 class="card-title">Ajouter un post</h4>
        <p class="card-description">
        </p>

        {{ form_start(fu,{'attr': {'novalidate': 'novalidate'}}) }}

        <form class="forms-sample">

            <div class="form-group">
                {{ form_label(fu.sujet, 'sujet', ) }}
                {{ form_widget(fu.sujet, {'attr': {'class': 'form-control','placeholder': 'sujet'}}) }}
                {{ form_errors(fu.sujet) }}
            </div>
            <div class="form-group">
                {{ form_label(fu.description, 'description', ) }}
                {{ form_widget(fu.description, {'attr': {'class': 'form-control','placeholder': 'description'}}) }}
                {{ form_errors(fu.description) }}
            </div>
            <div class="form-group">
                {{ form_label(fu.communaute, 'communaute', ) }}
                {{ form_widget(fu.communaute, {'attr': {'class': 'form-control','placeholder': 'communaute'}}) }}
                {{ form_errors(fu.communaute) }}
            </div>

            <div class="form-group">
                {{ form_label(fu.imageFile, 'image', ) }}
                {{ form_row(fu.imageFile,{'attr': {'class': 'form-control file-upload-browse btn btn-primary' }}) }}
            </div>
            <div class="form-group">
                {{ form_label(fu.nom_user, 'nom_user', ) }}
                {{ form_widget(fu.nom_user, {'attr': {'class': 'form-control','placeholder': 'nom_user'}}) }}
            </div>








            <div class="input-group col-md-6">
                {{ form_widget(fu.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
                {{ form_widget(fu.cancel, {'attr': {'class': 'btn btn-danger' }}) }}
            </div>
            {{ form_end(fu) }}
        </form>

    </div>
{% endblock body %}