{% extends 'front.html.twig' %}

{% block body %}

    <div class="col-lg-8">
        <!-- START: Post -->
        <div class="nk-blog-post nk-blog-post-single">
            <!-- START: Post Text -->
            <div class="nk-post-text mt-0">

                <div class="nk-gap-1"></div>
                <h1 class="nk-post-title h3">{{ competition.nom }}</h1>
                <div class="nk-post-img">
                    <img src="{{ asset('/uploads/images/'~ competition.image) }}" alt="Grab your sword and fight the Horde">
                </div>
                <div class="nk-gap"></div>
                <div class="nk-post-text">
                    <span class="nk-post-title h4">{{ competition.jeux.nom }} </span></br>
                    <div class="nk-post-categories">
                        <span class="bg-main-3">{{ competition.nbparticipants }} Participants</span>
                        <span class="bg-main-1">{{ competition.jeux.categorie.nom }}</span>
                    </div>
                    <div class="nk-post-date mt-10 mb-10">
                        <span class="fa fa-calendar"></span> {{ competition.dateDeb|date("m/d/y") }}
                        <span class="fa fa-calendar"></span> {{ competition.dateFin|date("m/d/y") }}
                    </div>
                    <div class="nk-post-text"><p>Allez-y!       Inscrivez vous et tentez votre chance pour rejoindre le podium </p></div>

                </div>




                <div class="nk-gap"></div>

                <div class="nk-gap"></div>


                <div class="nk-gap"></div>
                <div class="nk-post-share">
                    <span class="h5">Partager la compétition: </span>

                    <ul class="nk-social-links-2">
                        <li><span class="nk-social-facebook" title="Share page on Facebook" data-share="facebook"><span class="fab fa-facebook"></span></span></li>
                        <li><span class="nk-social-google-plus" title="Share page on Google+" data-share="google-plus"><span class="fab fa-google-plus"></span></span></li>
                        <li><span class="nk-social-twitter" title="Share page on Twitter" data-share="twitter"><span class="fab fa-twitter"></span></span></li>
                        <li><span class="nk-social-pinterest" title="Share page on Pinterest" data-share="pinterest"><span class="fab fa-pinterest-p"></span></span></li>

                        <!-- Additional Share Buttons
                            <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fab fa-linkedin"></span></span></li>
                            <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fab fa-vk"></span></span></li>
                        -->
                    </ul>
                </div>
            </div>
            <!-- END: Post Text -->





        </div>
        <!-- END: Post -->
    </div>


{% endblock %}