


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
</head>
<body>

<style>
    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    a {
        color: #5D6975;
        text-decoration: underline;
    }

    body {
        position: relative;
        width: 21cm;
        height: 29.7cm;
        margin: 0 auto;
        color: #001028;
        background: #FFFFFF;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-family: Arial;
    }

    header {
        padding: 10px 0;
        margin-bottom: 30px;
    }

    #logo {
        text-align: center;
        margin-bottom: 10px;
    }

    #logo img {
        width: 90px;
    }

    h1 {
        border-top: 1px solid  #5D6975;
        border-bottom: 1px solid  #5D6975;
        color: #5D6975;
        font-size: 2.4em;
        line-height: 1.4em;
        font-weight: normal;
        text-align: center;
        margin: 0 0 20px 0;
        background: url(dimension.png);
    }

    #project {
        float: left;
    }

    #project span {
        color: #5D6975;
        text-align: right;
        width: 52px;
        margin-right: 10px;
        display: inline-block;
        font-size: 0.8em;
    }

    #company {
        float: right;
        text-align: right;
    }

    #project div,
    #company div {
        white-space: nowrap;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin-bottom: 20px;
    }

    table tr:nth-child(2n-1) td {
        background: #F5F5F5;
    }

    table th,
    table td {
        text-align: center;
    }

    table th {
        padding: 5px 20px;
        color: #5D6975;
        border-bottom: 1px solid #C1CED9;
        white-space: nowrap;
        font-weight: normal;
    }

    table .service,
    table .desc {
        text-align: left;
    }

    table td {
        padding: 20px;
        text-align: right;
    }

    table td.service,
    table td.desc {
        vertical-align: top;
    }

    table td.unit,
    table td.qty,
    table td.total {
        font-size: 1.2em;
    }

    table td.grand {
        border-top: 1px solid #5D6975;;
    }

    #notices .notice {
        color: #5D6975;
        font-size: 1.2em;
    }

    footer {
        color: #5D6975;
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: 0;
        border-top: 1px solid #C1CED9;
        padding: 8px 0;
        text-align: center;
    }
</style>

<link rel="stylesheet" href="{{ asset('front/assets/css/facture.css') }}" media="all" />
<header class="clearfix">
    <div id="logo">
        <img src="Logo.png">
    </div>
    <h1 align="center">E-TSports</h1>

    <h4 >Detail de l'addresse de livraison{{ commande.idcommande }}</h4>
    <div id="projec" class="clearfix">
        <div><span>Client</span> {{ adresse.Nom }}{{ adresse.prenom}} </div>
        <div><span>EMAIL</span> {{ adresse.Email}} </div>
        <div><span>N°Tel</span> {{ adresse.Tel }}</div>
        <div><span>Adresse de Livraison</span> {{ adresse.Adress }}</div>
        <div><span>Cite</span> {{ adresse.City }}</div>


    </div>
    <div id="project">
        <div><span>Livreur</span> {{ commande.idlivreur.Nom }} {{ commande.idlivreur.Prenom}}</div>
        <div><span>EMAIL</span> {{ commande.idlivreur.Email}} </div>
        <div><span>N°Tel</span> {{ commande.idlivreur.Tel}}</div>
    </div>
</header>

    <table>
        <thead>
        <tr>
            <th class="service">Produit</th>
            <th class="desc">Quantite</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="service">{{ commande.Produit }} </td>
            <td class="desc">{{ commande.Quantite }} </td>
            <td class="total">{{ commande.Total }}Tnd </td>
        </tr>


        <tr>
            <td colspan="4">SUBTOTAL</td>
            <td class="total">{{ commande.Total }}Tnd</td>
        </tr>


        </tbody>
    </table>
    <div id="notices">
        <div>NOTICE:</div>
        <div class="notice">A finance charge of 1.5% will be made on unpaid balances after 30 days.</div>
    </div>
</main>

</body>
