{% extends 'basefront.html.twig' %}
{% block stylesheets %}

    <link href="{{ asset('vendors/feather/feather.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('vendors/css/vendor.bundle.base.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('vendors/datatables.net-bs4/dataTables.bootstrap4.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('vendors/ti-icons/css/themify-icons.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('js/select.dataTables.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/vertical-layout-light/style.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('images/favicon.png') }}" type="text/css" rel="shortcut icon" />





{% endblock %}
{% block body %}
    <div class="card-body">
        <h4 class="card-title"><i class="fa-solid fa-circle-plus"></i>  Modifier</h4>
        <a class="btn btn-outline-dark " href="{{ path('afficheruser') }}"><i class="fa-solid fa-gamepad"></i> afficher les joueurs  </a>
        <p class="card-description">
        </p>

        {{ form_start(fe) }}
        <form class="forms-sample">

            <div class="form-group">
                {{ form_label(fe.NomEquipe, 'Nom ', ) }}
                {{ form_widget(fe.NomEquipe, {'attr': {'class': 'form-control','placeholder': 'Nom du jeu'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(fe.Nbjoueurs, 'Prenom', ) }}
                {{ form_widget(fe.Nbjoueurs, {'attr': {'class': 'form-control','placeholder': 'Nom du jeu'}}) }}
            </div>
            <div class="form-group">
                {{ form_label(fe.email, 'Email', ) }}
                {{ form_widget(fe.email, {'attr': {'class': 'form-control','placeholder': 'Type du jeu'}}) }}
            </div>

            <div class="form-group">
                {{ form_label(fe.jeu, 'Date de naissance', ) }}
                {{ form_widget(fe.jeu, {'attr': {'class': 'form-control','placeholder': 'DD/MM/YYYY'}}) }}
            </div>

            <div class="form-check form-check-flat form-check-primary">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    Remember me
                </label>
            </div>
            <div class="input-group col-md-6">
                {{ form_widget(fe.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
                {{ form_widget(fe.cancel, {'attr': {'class': 'form-control btn btn-light mr-2' }}) }}
            </div>

            {{ form_end(fe) }}
        </form>


        <a href="{{ path('afficherjoueurs')}}"> modifier les jouereurs</a>

    </div>
{% endblock %}







