{% extends 'crud.html.twig' %}

{% block body %}
    <div class="card-body">
        <h4 class="card-title">Ajouter une catégorie</h4>
        <p class="card-description">
        </p>

        {{ form_start(f) }}
        <form class="forms-sample">

            <div class="form-group">
                {{ form_label(f.catrec, 'Categorie', ) }}
                {{ form_widget(f.catrec, {'attr': {'class': 'form-control','placeholder': 'Categorie'}}) }}
                {{ form_errors(f.catrec) }}

            </div>





            <div class="input-group col-md-6">
                {{ form_widget(f.submit, {'attr': {'class': 'form-control btn btn-primary mr-2' }}) }}
                {{ form_widget(f.cancel, {'attr': {'class': 'btn btn-danger' }}) }}
            </div>
            {{ form_end(f) }}
        </form>

    </div>





{% endblock %}
