{% extends 'cruud.html.twig' %}
{% block body %}




    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Product Table</h4>
                <p class="card-description">
                    <code>Sort Product By Price</code>
                </p>

                <div class="btn-group-horizental" role="group" aria-label="Basic example" >
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('DESC') }}">
                        <i class="ti-upload" ></i>
                    </a>
                    <a type="button" class="btn btn-outline-secondary" href="{{ path('affich') }}">
                        <i class="ti-split-v"></i>
                    </a>

                    <a type="button" class="btn btn-outline-secondary" href="{{ path('ASC') }}">
                        <i class="ti-download"></i>
                    </a>
                        <i class="ti-download"></i>
                    </a>

                </div>

                <div class="table-responsive">
                    <table class="table table-striped" width="50%">
                        <thead>
                        <tr>
                            <th> ID </th>
                            <th> reference </th>
                            <th> nom </th>
                            <th> marque </th>
                            <th> prix </th>
                            <th> image </th>

                            <th> nom categorie </th>
                            <th > description </th>
                            <th> note  </th>


                            <th>delete</th>
                            <th>update</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr {% for c in produit  %}>

                            <td> {{ c.id }}</td>

                            <td> {{ c.reference }}</td>
                            <td> {{ c.nom }}</td>

                            <td> {{ c.marque }}</td>
                            <td> {{ c.prix }}</td>

                            <td>
                                <img class="img-fluid" src="{{asset('images/'~c.image)}}" >
                            </td>




                                <td> {{ c.nom_categ}}</td>


                            <td> {{ c.type }}</td>
                            {% if c.e >=5 %}

                                <td class="text-success"> {{ c.e}} <i class="ti-arrow-up"></i></td>
                            {% else %}
                                <td class="text-danger"> {{ c.e}} <i class="ti-arrow-down"></i></td>


                            {% endif %}

                            <td>  <a  href=" {{ path('d',{'id':c.id}) }} "  >
                                    <img src="back/images/faces/bin.png" alt="image"/>



                                </a>


                            </td>

                            <td class="badge badge-warning"><a href="{{ path('U',{'id':c.id}) }}" > Update</a> </td>




                        </tr {% endfor %}>



                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>



{% endblock %}