<table border="1">
    <tr>

        <th>id</th>
        <th>name</th>
        <th>prix</th>
    </tr>
    {% for form in c  %}
        <tr>

            <td>
                {{ form.id }}
            </td>
            <td>
                {{ form.nom }}
            </td>

            <td>
                {{ form.prix }}
            </td>
            <td>
                <a href="{{ path('add_cart',{'id': form.id}) }}">acheter</a>
            </td>

        </tr>
    {% endfor %}
    <a href="{{ path('afficherpanier')}}">panier</a>
</table>